*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #18181B;
}

label{
  color: #fff;
  font-size: 25px;
}

input{
  background-color: #262626;
  color: #fff;
  width: 14rem;
  border-radius: 3px;
}

#counter{
  background-color: #262626;
  padding: 2rem;
  border-radius: 8px;
}

#counter div{
  display: flex;
  align-items: center;
}

#valorJog1{
  font-size: 5rem;
  color: #fff;
  min-width: 14rem;
  text-align: center;
}
#valorJog2{
  font-size: 5rem;
  color: #fff;
  min-width: 14rem;
  text-align: center;
}

button{
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

button:hover{
  opacity: .8;
}

.count-button{
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  background-color: #18181B;
}

#reset{
  width: 100%;
  font-size: 1.8rem;
  background-color: #3730A3;
  padding: .8rem 0;
  margin-top: 1rem;
}

#time1{
  color: #3730A3;
  font-size: 30px;
}

#time2{
  color: #3730A3;
  font-size: 30px;
}


